<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531325341271-krfnu5s48pb400vbfilvd18c1atm0318.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531325341271-krfnu5s48pb400vbfilvd18c1atm0318</string>
	<key>API_KEY</key>
	<string>AIzaSyCyiHMGSY1ts3FOyKHziSZ_MX7GmEHw2ek</string>
	<key>GCM_SENDER_ID</key>
	<string>531325341271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>top.maciejcan.UberUIKit</string>
	<key>PROJECT_ID</key>
	<string>uberuikit-a0ca5</string>
	<key>STORAGE_BUCKET</key>
	<string>uberuikit-a0ca5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531325341271:ios:ca54ac40356e6360615d12</string>
</dict>
</plist>